{% extends 'base.html.twig' %}

    {% block title %}Edit Place {% endblock %}

    {% block body %}
        <h1>Edit Place</h1>

        {% embed 'place/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
