{% extends 'popup.html.twig' %}

    {% block title %}New Place {% endblock %}

    {% block body %}
        <h1>New Place</h1>

        {% embed 'place/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
