{% extends 'base.html.twig' %}

{% block title %}Place Details {% endblock %}

 {% block pageheader %}
     <h1>Place Details</h1>
 {% endblock %}

{% block action_buttons %}
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('place_edit', {'id': place.id }) }}" class="btn btn-light">
            <span class="bi bi-pencil-square"></span> Edit </a>
        <form class='delete-form' method="post" action="{{ path('place_delete', {'id': place.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ place.id) }}">
            <button class="btn btn-danger"><span class="bi bi-trash"></span> Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed 'place/partial/detail.html.twig' %}
    {% endembed %}

{% endblock %}
