{% extends 'base.html.twig' %}

{% block title %}Person Details {% endblock %}

 {% block pageheader %}
     <h1>Person Details</h1>
 {% endblock %}

{% block action_buttons %}
    <a href="{{ path('person_index') }}" class="btn btn-light">
        <span class="bi bi-arrow-left"></span> Back
    </a>
    {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('person_edit', {'id': person.id }) }}" class="btn btn-light">
            <span class="bi bi-pencil-square"></span> Edit </a>
        <form class='delete-form' method="post" action="{{ path('person_delete', {'id': person.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ person.id) }}">
            <button class="btn btn-danger"><span class="bi bi-trash"></span> Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block body %}
    {% embed 'person/partial/detail.html.twig' %}
    {% endembed %}
{% endblock %}
